* {
  padding: 3px;
  margin: 7px;
}

body {
  display: flex;
  flex-direction: column;
  height: 90vh;
}

div {
  user-select: none;
  display: flex;
  flex-grow: 1;
  justify-content: center;
  border-radius: 5px;
}

#control {
  padding: 0;
  align-items: stretch;
}

#control div {
  flex-grow: 0.1;
}

#piles, #turns {
  margin-bottom: 5%;
}

#piles div, #turns div, #control div {
  background-color: rgba(211, 211, 211, 0.5);
  align-items: center;
  transition-duration: 0.5s;
  flex-direction: column;
}

#piles div:hover, #turns div:hover {
  transform: scale(1.05, 1.05);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#control div:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#rules {
  padding: 1%;
  padding-top: 0px;
  padding-bottom: 0px;
  position: fixed;
  right: 1%;
  bottom: -25%;
  z-index: 2;
  display: block;
  background-color: rgba(211, 211, 211, 0.5);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition-duration: 0.5s;
}
